body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.kanalogo {
    height: 60px;
}
.large-image {
    width: 120%; /* Agrandir l'image de 100% */
    position: relative;
    right: -10%; /* Faire déborder l'image vers la droite */
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

nav ul li {
    margin-right: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.detective {
    width: 70%; /* Ajuste la largeur à 70% de la div parent */
    height: auto;
    display: block;
    margin: 0 auto;
}

.highlight {
    color: #ffcc00; /* Couleur pour mettre en évidence l'onglet actuel */
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh - 80px); /* Ajustez la hauteur en fonction de la taille du header */
}

.content {
    display: flex;
    width: 100%;
}

.image-container {
    flex: 1;
    max-width: 30%;
    background-color: #000; /* Remplacez par la couleur de fond souhaitée */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('K.png');
    background-size: 100%; /* Ajuste la taille de l'image de fond à 80% */
    background-repeat: no-repeat;
    background-position: center;
}

.text-block {
    max-width: 400px;
}

.text-block h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-block h1 {
    font-size: 48px;
    font-weight: bold;
}

.text-block p {
    font-size: 16px;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
