body {
    background-image: url('K.svg');
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 3px solid #000000;
}

.kanalogo{
    height: 120px;
    width: 180px;
}

.logo {
    display: flex;
    align-items: center;
}

.kana-vertical {
    padding: 10px;
    font-weight: bold;
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    display: flex;
}

nav ul li {
    margin-right: 80px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
}


.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-container input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icons span {
    margin-left: 20px;
    font-size: 24px;
}

.password-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.password-container input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.container{
    display: flex;
    border-color: solid red;
    max-width: 200px;
    max-height: 200px;
}
.littlecontainer1{
    background-color: #000000;
    
}